body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-leelawadee-ui: "Leelawadee UI";
  --font-luckiest-guy: "Luckiest Guy";
  --font-kumar-one: "Kumar One";
  --font-lexend-deca: "Lexend Deca";
  --font-lexend-exa: "Lexend Exa";

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-3xs: 0.63rem;
  --font-size-2xs: 0.69rem;

  /* Colors */
  --black: #1e1e1e;
  --white: #f7f7f7;
  --color-black: #000;
  --color-white: #fff;
  --color-lavender: #d5d5f4;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-31xl: 50px;
  --br-8xs: 5px;
  --br-6xl: 25px;
}
