.login1-child {
  background: linear-gradient(#f7f7f7, #f7f7f7), #fcbb91;
  width: 60%;
  height: 50%;
}
.login1-item {
  position: absolute;
  top: 4.69rem;
  left: 7.19rem;
  border-radius: var(--br-6xl);
  background: linear-gradient(
    89.77deg,
    #1d2dbc,
    #1c39dc 0.01%,
    #200b5a 96.88%,
    rgba(29, 45, 188, 0)
  );
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  width: 42.56rem;
  height: 29.81rem;
}
.login1-inner,.polygon-icon {
  position: absolute;
  top: 27.94rem;
  left: 8.21rem;
  width: 15.25rem;
  height: 8.56rem;
  mix-blend-mode: luminosity;
}
.polygon-icon {
  top: 4.69rem;
  left: 35.68rem;
  width: 13.21rem;
  height: 6.49rem;
}
.login1-child1 {
  position: absolute;
  top: 11.25rem;
  left: 18.31rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 20.5rem;
  height: 16.69rem;
}
.password1,
.username1 {
  position: absolute;
  top: 15.75rem;
  left: 20rem;
}
.password1 {
  top: 19.19rem;
}
.username {
  top: 16.56rem;
  background-color: var(--color-lavender);
  width: 16.63rem;
  height: 1.94rem;
}
.username,.password,.login1-child4 {
  position: absolute;
  left: 20rem;
  border-radius: var(--br-8xs);
}
.password {
  top: 20.06rem;
  background-color: var(--color-lavender);
  width: 16.63rem;
  height: 1.94rem;
}
.login1-child4 {
  top: 23.19rem;
  background-color: #4845cd;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  width: 16.69rem;
  height: 2.25rem;
}
.login {
  position: absolute;
  margin-top: 50rem ;
  color: var(--color-white);
}
.span1 {
  color: var(--color-black);
}
.create-now {
  font-size: var(--font-size-2xs);
  color: #ea5151;
}
.dont-have-account-container,
.forgot-password {
  position: absolute;
  top: 25.88rem;
  left: 21.69rem;
  font-size: var(--font-size-3xs);
  color: #a9a8a8;
}
.forgot-password {
  top: 19.25rem;
  left: 29.63rem;
  color: #3859e5;
}
.login2 {
  position: absolute;
  top: 12.63rem;
  left: 20rem;
  font-size: var(--font-size-xl);
}
.login1 {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-left: 20rem;
  height: 39.19rem;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-lexend-exa);
}
