.profile-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#f7f7f7, #f7f7f7), #fcbb91;
    width: 75.06rem;
    height: 69.44rem;
  }
  .base-rectangle-icon {
    position: absolute;
    top: 0.91rem;
    left: -1.59rem;
    border-radius: var(--br-6xl);
    width: 60.75rem;
    height: 55.31rem;
  }
  .contibuted {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background: #bfbfea;
    width: 27.5rem;
    height: 18.75rem;
  }
  .your-contributions {
    position: absolute;
    top: 2.38rem;
    left: 2.25rem;
    display: inline-block;
    width: 19.06rem;
    height: 2.58rem;
  }
  .veg-meals1 {
    margin-bottom: false;
  }
  .veg-meals {
    margin: 0;
    font-family: var(--font-abhaya-libre);
    font-size: var(--font-size-5xl);
    padding-left: var(--padding-13xl);
  }
  .span1 {
    font-family: var(--font-actor);
  }
  .qty-for-25-people {
    margin: 0;
  }
  .blank-line {
    margin: 0;
    font-size: var(--font-size-mini);
    font-family: var(--font-actor);
  }
  .veg-meals-qty-container {
    position: absolute;
    top: 5.81rem;
    left: 2.25rem;
    color: var(--black);
    display: inline-block;
    width: 24.75rem;
    height: 12.34rem;
    font-size: var(--font-size-smi);
    font-family: var(--font-adamina);
  }
  .donors-contribution {
    position: absolute;
    top: 33.69rem;
    left: 13.38rem;
    box-shadow: 0 4px 4px #cbcddb;
    width: 27.5rem;
    height: 18.75rem;
  }
  .idk-whaat-to-put-here {
    position: absolute;
    top: 23rem;
    left: 2.06rem;
    border-radius: var(--br-3xs);
    background: #bfbfea;
    box-shadow: 0 4px 4px #cccfde;
    width: 10.13rem;
    height: 29.56rem;
  }
  .meal-matters-is {
    position: absolute;
    top: 24.56rem;
    left: 2.63rem;
    font-size: var(--font-size-xl);
    font-family: var(--font-average-sans);
    display: inline-block;
    width: 8.88rem;
  }
  .asking,
  .to-contribute-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    width: 27.5rem;
    height: 9.81rem;
  }
  .to-contribute-child {
    background: #bfbfea;

  }
  .asking {
    background-color: var(--indigo);
  }
  .add-the-items,
  .want-to-contribute {
    position: absolute;
    top: 1.81rem;
    left: 2.06rem;
    display: inline-block;
    width: 24.74rem;
  }
  .add-the-items {
    top: 5rem;
    left: 2.25rem;
    font-size: 1.38rem;
    font-family: var(--font-abhaya-libre-medium);
    color: var(--color-black);
    width: 16.51rem;
  }
  .to-contribute {
    position: absolute;
    top: 22.88rem;
    left: 13.38rem;
    box-shadow: 0 4px 4px #c8cbdb;
    width: 27.5rem;
    height: 9.81rem;
    color: var(--black);
  }
  .top-contributors {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--indigo);
    width: 13.38rem;
    height: 29.56rem;
  }
  .abc {
    position: absolute;
    top: 0.6rem;
    left: 2.92rem;
    display: inline-block;
    width: 7.59rem;
    height: 1.64rem;
  }
  .group-icon {
    position: absolute;
    height: 102.54%;
    width: 24.46%;
    top: -1.27%;
    right: 75.84%;
    bottom: -1.27%;
    left: -0.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .abc-parent {
    position: absolute;
    top: 15.56rem;
    left: 0;
    width: 10.51rem;
    height: 2.46rem;
  }
  .xyz {
    position: absolute;
    top: 0.6rem;
    left: 2.91rem;
    display: inline-block;
    width: 7.1rem;
    height: 1.64rem;
  }
  .group-child3 {
    position: absolute;
    height: 102.54%;
    width: 24.88%;
    top: -1.27%;
    right: 75.43%;
    bottom: -1.27%;
    left: -0.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .xyz-parent {
    position: absolute;
    top: 11.63rem;
    left: 0;
    width: 10.01rem;
    height: 2.46rem;
  }
  .j-atulya {
    position: absolute;
    top: 0.33rem;
    left: 2.91rem;
    display: inline-block;
    width: 3.8rem;
    height: 1.64rem;
  }
  .group-child4 {
    position: absolute;
    height: 102.54%;
    width: 37.29%;
    top: -1.27%;
    right: 63.18%;
    bottom: -1.27%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .j-atulya-parent {
    position: absolute;
    top: 7.75rem;
    left: 0;
    width: 6.7rem;
    height: 2.46rem;
  }
  .jyothika-jayan {
    position: absolute;
    top: 0.6rem;
    left: 2.91rem;
    display: inline-block;
    width: 6.93rem;
    height: 1.64rem;
  }
  .group-child5 {
    position: absolute;
    height: 102.54%;
    width: 25.41%;
    top: -1.27%;
    right: 74.91%;
    bottom: -1.27%;
    left: -0.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .jyothika-jayan-parent {
    position: absolute;
    top: 3.88rem;
    left: 0;
    width: 9.84rem;
    height: 2.46rem;
  }
  .isha-deepesh {
    position: absolute;
    top: 0.6rem;
    left: 2.91rem;
    display: inline-block;
    width: 6.99rem;
    height: 1.64rem;
  }
  .group-child6 {
    position: absolute;
    height: 102.54%;
    width: 25.27%;
    top: -1.27%;
    right: 75.05%;
    bottom: -1.27%;
    left: -0.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .isha-deepesh-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 9.9rem;
    height: 2.46rem;
  }
  .group-parent,
  .top-contributors1 {
    position: absolute;
    top: 8.56rem;
    left: 1.19rem;
    width: 10.51rem;
    height: 18.02rem;
  }
  .top-contributors1 {
    top: 2.06rem;
    font-size: var(--font-size-11xl);
    font-family: var(--font-abhaya-libre-extrabold);
    color: var(--color-black);
    display: inline-block;
    width: 12.88rem;
    height: 4.74rem;
  }
  .contributors-list {
    position: absolute;
    top: 22.88rem;
    left: 42.19rem;
    box-shadow: 0 4px 4px #caccdb;
    background: #bfbfea;
    width: 14.06rem;
    height: 29.56rem;
    font-size: var(--font-size-mini);
    color: var(--black);
    font-family: var(--font-adamina);
  }
  .background {
    position: absolute;
    top: 2.25rem;
    left: 0;
    border-radius: var(--br-6xl) var(--br-6xl) 0 0;
    background: linear-gradient(90deg, #1d39da, #200e61 98.83%);
    width: 57.56rem;
    height: 15.32rem;
  }
  .polygon-icon {
    position: absolute;
    top: 10.94rem;
    left: 10.88rem;
    width: 13.21rem;
    height: 6.42rem;
    mix-blend-mode: luminosity;
  }
  .name {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-6xl);
    background: linear-gradient(90deg, #8888f4, rgba(199, 199, 244, 0.83));
    width: 18.31rem;
    height: 4.06rem;
  }
  .aishwarya-t-s {
    position: absolute;
    top: 0.94rem;
    left: 0.31rem;
    display: inline-block;
    width: 17.69rem;
  }
  .profile-name {
    position: absolute;
    top: 15.38rem;
    left: 11.5rem;
    width: 18.31rem;
    height: 4.06rem;
    text-align: center;
    font-size: var(--font-size-11xl);
  }
  .group-child7 {
    position: absolute;
    top: 2.15rem;
    left: 40.15rem;
    width: 13.21rem;
    height: 6.49rem;
    mix-blend-mode: luminosity;
  }
  .base-rectangle-parent {
    position: absolute;
    top: 7.19rem;
    left: 8.69rem;
    width: 57.56rem;
    height: 54.38rem;
  }
  .profile-item {
    position: relative;
    height: 11.33%;
    top: 29.25%;
    right: 73.87%;
    bottom: 58.42%;
    left: 14.82%;
    overflow: hidden;
    max-height: 100%;
    margin-right: 10%;
  }
  .profile {
    position: relative;
    margin-left: 9%;
    height: 69.44rem;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-abhaya-libre-extrabold);
  }
  